<section class="bg-gray-50 py-16 sm:py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    
    <img 
      class="w-full h-auto rounded-2xl" 
      src="/page2.svg" 
      alt="Giao diện sản phẩm Miagent"
    >

  </div>
</section>