<section class="bg-[#051734] py-8 px-8">
  <div class="max-w-7xl mx-auto flex flex-col items-center gap-8">
    
    <p class="text-md text-white text-center">
      Hơn 5000 doanh nghiệp đã trải nghiệm cách AI Agent của ChatX 
      <span class="text-green-400">cải thiện doanh số bán hàng</span> 
      trên đa nền tảng của họ
    </p>
    
    <div class="w-full flex flex-wrap items-center justify-between gap-x-8 gap-y-4">
      
      <img src="/i1.svg" alt="Klaviyo Partner" class="h-7 w-auto">
      <img src="/i2.svg" alt="Odoo Partner" class="h-7 w-auto">
      <img src="/i9.svg" alt="Alibaba Cloud" class="h-7 w-auto">
      <img src="/i4.svg" alt="Oracle Netsuite" class="h-7 w-auto">
      <img src="/i5.svg" alt="Shopify Partner" class="h-7 w-auto">
      <img src="/i6.svg" alt="Salesforce" class="h-7 w-auto">
      <img src="/i7.svg" alt="Lark Partner" class="h-7 w-auto">
      <img src="/i8.svg" alt="BigCommerce Partner" class="h-7 w-auto">
      

    </div>
  </div>
</section>